### Import Dependencies

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Import & Inspect Data

In [3]:
data = "healthcare-dataset-stroke-data.csv"
dataframe = pd.read_csv(data)

In [4]:
dataframe.sort_values(by=['stroke'], ascending=False).head(100)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
171,60739,Female,79.0,1,1,No,Self-employed,Rural,60.94,NaN,never smoked,1
158,66258,Female,71.0,0,0,Yes,Self-employed,Urban,195.71,34.1,formerly smoked,1
159,34567,Female,81.0,1,0,Yes,Self-employed,Rural,74.02,25.0,never smoked,1
160,50931,Female,76.0,0,0,Yes,Private,Urban,57.92,NaN,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
219,31421,Male,73.0,0,1,Yes,Govt_job,Rural,219.73,28.6,never smoked,1
218,25904,Female,76.0,1,1,Yes,Self-employed,Urban,199.86,NaN,smokes,1
190,24905,Female,65.0,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
191,66071,Male,51.0,1,0,Yes,Private,Urban,112.16,42.5,formerly smoked,1
192,36255,Male,59.0,0,0,Yes,Self-employed,Rural,118.03,35.5,smokes,1

### Confirming Unique Values in ID series

In [5]:
dataframe.id.nunique()

5110

In [6]:
dataframe['id'].describe()

count     5110.000000
mean     36517.829354
std      21161.721625
min         67.000000
25%      17741.250000
50%      36932.000000
75%      54682.000000
max      72940.000000
Name: id, dtype: float64

### Explore general demographics / contextual data

In [7]:
dataframe.groupby('gender')['gender'].count()

gender
Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [8]:
dataframe.groupby('smoking_status')['smoking_status'].count()

smoking_status
Unknown            1544
formerly smoked     885
never smoked       1892
smokes              789
Name: smoking_status, dtype: int64

In [9]:
dataframe['avg_glucose_level'].describe()

count    5110.000000
mean      106.147677
std        45.283560
min        55.120000
25%        77.245000
50%        91.885000
75%       114.090000
max       271.740000
Name: avg_glucose_level, dtype: float64

In [10]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()